
<html lang="es">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">\
    <title>Coordinador</title>
    <link rel = "stylesheet" href = "../style">
    
</head>
<body>
    <header style = "background-color: #621132">
        <div class="header-container">
            <div class = "brand">
                <i class = "fas fa-user-tie"></i>
                <div>
                    <h1>Sistema Integral de Informacion</h1>
                    <p>Coordinador</p>
                </div>
            </div>
        </div>
    </header>
</body>
</html>