
<html lang="es">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">\
    <title>Coordinador</title>
    <link rel = "stylesheet" href = "../style">
    
</head>
<body>
    <header style = "background-color: #621132">
        <div class="header-container">
            <div class = "brand">
                <i class = "fas fa-user-tie"></i>
                <div>
                    <h1>Sistema Integral de Informacion</h1>
                    <p>Coordinador</p>
                </div>
            </div>
            <div class = "user-profile">
                <div class = "text-right">
                    <p class = "user-name">ejemplo de nombre</p> <!-- Aquí se muestra el nombre del usuario --> 
                    <p class = "user-email">coordinadoruniversidad.edu.mx</p> <!-- Aquí se muestra el correo del usuario -->
                </div>
                <button class = "btn-logout"><i class = "fas fa-sign-out-alt"></i> Cerrar sesión</button>
            </div>
        </div>
    </header>
    
    <main class = "container">
        <div class = "card welcome-card" style="border-left: 4px solid #621132;">
            <h2>Panel de gestion academica</h2>
            <p>Bienvenido al panel de gestión académica. Aquí puedes administrar los aspectos relacionados con la coordinación académicas.</p>
        </div>
    </main>
</body>
</html>